<%- include('header.ejs'); -%>

    <div class="usa-section">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <main class="desktop:grid-col-9 usa-layout-docs__main usa-prose usa-layout-docs" id="main-content">
                    <h1>Welcome to the Physical Readiness Management screen!</h1>
                    <p class="usa-intro">Use this page to setup for a physical readiness test, or enter your scores after your test.</p>

                    <p class="usa-content">
                        The physical fitness assessment contains three parts:

                        <ol>
                            <li>A pre-screening before you take the assessment, to identify situations where participation would be unsafe.</li>

                            <li>A body composition assessment, to screen for smartness of appearance and unhealthy diet which could lead to future heart problems.</li>

                            <li>Finally, the physical readiness test itself, consisting of a timed cardio exercise, upper body fitness test, and a core muscular fitness test.</li>

                        </ol>
                    </p>

                </main>
            </div>
        </div>
    </div>

    <section class="usa-graphic-list usa-section usa-section--dark">
        <div class="grid-container">
            <div class="usa-graphic-list__row grid-row grid-gap">
                <div class="usa-media-block tablet:grid-col">
                    <img class="usa-media-block__img" src="/uswds/img/circle-124.png" alt="Alt text">
                    <div class="usa-media-block__body">
                        <h2 class="usa-graphic-list__heading">Update your pre-assessment questionnaire.</h2>
                        <p>Go here to ensure that your pre-test assessment has
                            been performed. <em>You may need to visit medical
                            to complete this step</em>.</p>
                    </div>
                </div>
                <div class="usa-media-block tablet:grid-col">
                    <img class="usa-media-block__img" src="/uswds/img/circle-124.png" alt="Alt text">
                    <div class="usa-media-block__body">
                        <h2 class="usa-graphic-list__heading">Enter your test scores.</h2>
                        <p>If you've completed the physical readiness test, go ahead and
                            <a href="javascript:(0);">Enter your test scores</a>.</p>
                    </div>
                </div>
            </div>
            <div class="usa-graphic-list__row grid-row grid-gap">
                <div class="usa-media-block tablet:grid-col">
                    <img class="usa-media-block__img" src="/uswds/img/circle-124.png" alt="Alt text">
                    <div class="usa-media-block__body">
                        <h2 class="usa-graphic-list__heading">Calculate mock results.</h2>
                        <p>Need to see what fitness event to focus on next? Try using the calculator to see
                            how to focus your exercise to improve your scores.</p>
                    </div>
                </div>
                <div class="usa-media-block tablet:grid-col">
                    <img class="usa-media-block__img" src="/uswds/img/circle-124.png" alt="Alt text">
                    <div class="usa-media-block__body">
                        <h2 class="usa-graphic-list__heading">See your fitness history.</h2>
                        <p>View your fitness journey over time.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<%- include('footer.ejs'); -%>
